<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学生列表</title>
<import type='css' file='Images.css1.css' />
<import file='scripts.jquery' />
<style>
td, th {
	font-size:14px;
	text-align: center;
}
</style>
<script>
$(function(){
	
	$('p > img').css({
		width:'100',
		height:'100'
	});
	
	$('#delBtn').bind('click',function(event){
		//阻止默认行为
		event.preventDefault();
		//弹出提示框
		if(confirm('确认删除吗？')){
			//提交表单
			$('form:first').submit();
		}
	});
});
</script>
</head>
<body>
<form method='post' action='__URL__/del'>
  <table class="table" cellspacing="1" cellpadding="2" width="99%"
			align="center" border="0">
    <tbody>
      <tr>
        <th class="bg_tr" align="left" height="25">序号</th>
		<th class="bg_tr" align="left" height="25">信息名称</th>
		<th class="bg_tr" align="left" height="25">备注信息</th>
        <th class="bg_tr" align="left" height="25">创建时间</th>
		<th class="bg_tr" align="left" height="25">下载资源</th>
        <th class="bg_tr" align="left" height="25"><input type='button' id='delBtn' value='删除' />  </th>
      </tr>
	  <volist name='data' id='vo' key='k'>
      <tr>
        <td class="td_bg" width="5%" height="23" align="center">{$vo.id}</td>
		<td class="td_bg">{$vo.title}</td>
        <td id='contentImg' class="td_bg">{$vo.content|htmlspecialchars_decode}</td>
		 <td class="td_bg">{$vo.addtime|date='Y-m-d',###}</td>
        <td class="td_bg"><a href="__URL__/download/id/{$vo.id}">下载</a></td>
        <td class="td_bg"><input type='checkbox' value="{$vo.id}" name='id[]' /></td>
      </tr>
	  </volist>
	  <tr>
       
		<td colspan='10' style='text-align:right;'></td>
      </tr>
      <tr>
        <td colspan="10">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>